/* GENERAL CSS */

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr:last-child th:first-child {
    border-top-left-radius: 5px;
}

table tr:last-child th:last-child {
    border-top-right-radius: 5px;
}

thead {
    background-color: darkgray;
}

.container1 {
    background-color:gray;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px;
    width: 100%;
    font-family: 'Dhurjati', sans-serif;
}

.buttonTablCl {
    cursor: pointer;
}

.navbar-text {
    color: white;
    font-size: 40px;
}

.myNav {
    background-color:black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bottSignature {
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 100px;
    padding: 50px;
    font-family: 'Dhurjati', sans-serif;
}

.logoClass {
    height: 50px;
    width: 70px;
}


/* AUTHENTICATION.HTML */


.welcomeHeader {
    display: block;
    font-size: 80px;
    width: 50%;
    margin-top: 70px;
    margin-right: 150px;
    padding-left: 5%;
    color: white;
    font-family: 'Dhurjati', sans-serif;
}

.formClass{
    display:flex;
    flex-align: row;
    justify-content:space-between;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    padding-right: 5%;
}

.formInputCl {
    display: block;
    align-self: right;
    width: 300px;
    height: 380px;
    padding: 35px;
    border-radius: 5px;
    background:rgba(1,1,1,0.5);
    color: white;
    font-size: 15px;
    margin-top: 80px;
    font-family: 'Anton', sans-serif;
}

.sInSUp {
    font-size: 30px;
    margin-left: 5px;
    padding-bottom: 35px;
}

.inputClass {
    border-radius: 5px;
    margin-top: 30px;
    width: 227px;
    font-size: 15px;
    font-family: 'Pompiere', cursive;
}

.signInButton {
    margin-top: 80px;
    margin-right: 20px;
    margin-left: 2px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.signUpButton {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.myTable {
    padding-bottom: 40px;
    display:flex;
    width: 100%;
    justify-content:center;
}


/* GAMES.HTML */

.tablesDivCl {
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
}

.tablesDivCl {
    justify-content: space-between;
    display:flex;
    flex-align: row;
    margin-top: 10px;
    margin-bottom: 100px;
}

.gamesListDivCl {
    display:block;
    width: 50%;
    margin-right: 30px;
    margin-left: 30px;
}

.gamesTableHead {
    display: flex;
    background-color: darkgray;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 25px;
}

.gamesHeaderColumn1 {
    width: 20%;
    text-align: center;
}

.gamesHeaderColumn2 {
    width: 65%;
    text-align: center;
}

.gamesHeaderColumn3 {
    width: 15%px;
    text-align: center;
    padding-right: 20px;
    text-align: center;
}

.leaderHeaderColumn1 {
    width: 20%;
    text-align: center;
}

.leaderHeaderColumn2 {
    width: 20%;
    text-align: center;
}

.leaderHeaderColumn3 {
    width: 20%;
    text-align: center;

}

.leaderHeaderColumn4 {
    width: 20%;
    text-align: center;

}

.leaderHeaderColumn5 {
    width: 20%;
    text-align: center;
}

#tableId {
    display: flex;
}

.leaderBoardDiv {
    display:block;
    width: 50%;
    margin-right: 30px;
}

.leadersTableHead {
    display: flex;
    background-color: darkgray;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 18px;
}

.startNewGameButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    height: 70px;
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}


/* GAME_VIEW.HTML */

.ship {
    border: 1px solid black;
    height: 40px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noShip {
    border: 1px solid black;
    height: 40px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridClass {
    display: block;
    margin-left: 50px;
}

.td1 {
    width: 20%;
}

.td2 {
    width: 80%;
}

.td3 {
    width: 15%;
}

.gridClass1 {
    display: block;
    margin-right: 50px;
}

.paragrCl {
    padding-left: 20px;
}

.dropTarget {
    overflow:hidden;
    position:relative;
}

.shipsContainerClass {
    display: inline-block;
    border-radius: 5px;
    background-color: transparent;
    padding: 100px;
    height: 440px;
    width: 440px;
    min-width:441px;
    min-height:441px;
}

.cellClass {
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    max-width: 40px;
    height: 40px;
    width: 40px;
    text-align:center;
    background-color: lightblue;
    background-image: url("/sea.gif");
    z-index: 0;
}

.shipContainerClass{
    min-width: 441px;
    min-height: 441px;
}

.userEmailCl {
    color: white;
    margin-left:200px;
    padding-left: 10px;
}


#gameViewUnloadedId {
    height: 400px;
    width: 100%;
    padding-top: 250px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.buttonCl {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 70px;
    font-size: 30px;
    background-color: brown;
    color: white;
}

.draggable {
    position: relative;
    display: block;
    width: 37px;
    height: 37px;
    z-index: 1;
}

.alertsDiv {
    display: block;
    width:100%;
    height:60px;
    text-align: center;
    font-size: 35px;
}

.h_v {
     display: block;
     position: absolute;
     height:20px;
     width:20px;
     z-index: 2;
}

.h_v : hover{
    display: block;
}

.rotate_a {
    cursor: pointer;
}

.gameStateInfoCl {
    border-radius: 5px;
    background-color: gray;
    width: 250px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
}


.gridTitleClass {
    text-align: center;
    color: white;
}

#stateGameOverId {
    font-family: 'Press Start 2P', cursive;
    font-size: 100px;
    text-align: center;
}


.titleDivCl {
    border-radius: 5px;
}

.playersTitleCl {
    padding-left: 10px;
    color: white;
}

.myGridTable {
    background-color: gray;
    min-width: 441px;
    border-radius: 10px;
}

.gameHistoryDivCl {
    display: block;
    padding-top: 22px;
    align-content: center;
    width: 255px;
    margin-left: auto;
    margin-right: auto;
}

.dropbtn {
    border-radius: 10px;
    background-color: brown;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right:0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: darkcyan}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: darkcyan;
}

.statsTablesDivCl {
    display: flex;
    flex-align: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.welcomeImgCl{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
}


#tableId tbody {
    display: inline-block;
    max-height: 200px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#leaderBoardId tbody {
    width: 100%;
    display: inline-block;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gameHistoryDivCl > table {
    width: 255px;
}

li:hover {
    cursor: pointer;
}

td {
    color: white;
    text-align: center;
}

.tdLeaderBoardCl {
    width: 140px;
    font-size: 18px;
    text-align: center;
}

th {
    padding-right: 30px;
}

body {
    background-image: url("https://hdwallsource.com/img/2014/7/sea-water-hd-33447-34204-hd-wallpapers.jpg");
}

.allStatsDivId {
    padding-bottom: 50px;
}

.statsCl {
    width: 400px;
    font-size: 25px;
}

.shotableCell {
    cursor: pointer;
}

#gameOverDivId {
    display:none;
}

#gameOverStatsId {
    display:none;
    padding-top: 100px;
}

.gameOverHeaderCl {
    text-align: center;
    padding: 50px;
    color: white;
}

.gameOverImgCl {
    display:block;
    padding-top: 100px;
    margin-left:auto;
    margin-right:auto;
    width: 450px;
    height: 350px;
}

.hitCl {
    display: none;
    position: relative;
    background: transparent;
    background-image: url('/s-v.png');
    background-size: 75px 710px;
    background-position-x: 1px;
    background-position-y: 40px;
    height: 38px;
    width: 38px;
    z-index: 5;
}

.missCl {
    display: none;
    position:relative;
    background: transparent;
    background-image: url('/s-v.png');
    background-size: 75px 710px;
    background-position-x: 38px;
    background-position-y: 40px;
    height: 38px;
    width: 38px;
    z-index: 5;
}

.sightCl {
    display: none;
    position: relative;
    background-image: url('/target-sight.png');
    height: 37px;
    width: 37px;
    z-index: 5;
    background-size: cover;
}

.carrier {
    display:inline-block;
    background-image: url('/s-h.png');
    background-size: 710px 75px;
    background-position-x: -0px;
    background-position-y: 38px;
    width: 200px;
    height: 39px;
    overflow: hidden;
}

.carrier1 {
    display:inline-block;
    background-image: url('/s-h.png');
    background-size: 500px 50px;
    background-position-x: -0px;
    background-position-y: 25px;
    width: 140px;
    height: 25px;
    margin-top: 5px;
    overflow: hidden;
}

.battleship {
    display:inline-block;
    background-image: url('/s-h.png');
    background-size: 710px 75px;
    background-position-x: -200px;
    background-position-y: 37px;
    width: 160px;
    height: 40px;
    overflow: hidden;
}

.battleship1 {
    display:inline-block;
    background-image: url('/s-h.png');
    background-size: 500px 50px;
    background-position-x: -144px;
    background-position-y: 27px;
    width: 105px;
    height: 25px;
    overflow: hidden;
}


.submarine {
    display:inline-block;
    background-image: url('/s-h.png');
    background-size: 710px 75px;
    background-position-x: -355px;
    background-position-y: 37px;
    width: 120px;
    height: 40px;
    overflow: hidden;
}

.submarine1 {
    display:inline-block;
    background-image: url('/s-h.png');
    background-size: 500px 50px;
    background-position-x: -253px;
    background-position-y: 28px;
    width: 78px;
    height: 25px;
    overflow: hidden;
}

.destroyer {
    display:inline-block;
    background-image: url('/s-h.png');
    background-size: 710px 75px;
    background-position-x: -475px;
    background-position-y: 37px;
    width: 120px;
    height: 40px;
    overflow: hidden;
}

.destroyer1 {
    display:inline-block;
    background-image: url('/s-h.png');
    background-size: 500px 50px;
    background-position-x: -336px;
    background-position-y: 28px;
    width: 78px;
    height: 25px;
    overflow: hidden;
}

.patrol_boat {
    display:inline-block;
    background-image: url('/s-h.png');
    background-size: 710px 75px;
    background-position-x: -590px;
    background-position-y: 37px;
    width: 80px;
    height: 40px;
    overflow: hidden;
}

.patrol_boat1 {
    display:inline-block;
    background-image: url('/s-h.png');
    background-size: 500px 50px;
    background-position-x: -415px;
    background-position-y: 25px;
    width: 60px;
    height: 25px;
    overflow: hidden;
}

